* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v6_181 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_182 {
  width: 80%;
  height: 644px;
  background: rgba(255,76,121,1);
  opacity: 1;
  position: absolute;
  top: 256px;
  left: 65px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v6_183 {
  width: 723px;
  height: 523px;
  background: url("../images/v6_183.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 317px;
  left: 194px;
  overflow: hidden;
}
.v6_184 {
  width: 442px;
  height: 392px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 378px;
  left: 776px;
  overflow: hidden;
}
.v6_185 {
  width: 255px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 465px;
  left: 835px;
  font-family: Inter;
  font-weight: Black;
  font-size: 45px;
  opacity: 1;
  text-align: left;
}
.v6_207 {
  width: 361px;
  height: 27px;
  background: url("../images/v6_207.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 154px;
  left: 1002px;
  overflow: hidden;
}
.v6_199 {
  width: 71px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v6_205 {
  width: 98px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 120px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v6_206 {
  width: 94px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 267px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v6_192 {
  width: 238px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 547px;
  left: 835px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_197 {
  width: 116px;
  height: 42px;
  background: url("../images/v6_197.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 650px;
  left: 835px;
  overflow: hidden;
}
.v6_194 {
  width: 76px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 20px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_195 {
  width: 116px;
  height: 42px;
  background: url("../images/v6_195.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v6_198 {
  width: 303px;
  height: 77px;
  background: url("../images/v6_198.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 129px;
  left: 65px;
  overflow: hidden;
}
.v6_216 {
  width: 20px;
  height: 18px;
  background: url("../images/v6_216.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 847px;
  left: 1388px;
  overflow: hidden;
}
.v6_217 {
  width: 20px;
  height: 20px;
  background: url("../images/v6_217.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 820px;
  left: 1388px;
  overflow: hidden;
}
.v6_222 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_251 {
  width: 100%;
  height: 717px;
  background: url("../images/v6_251.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 65px;
  overflow: hidden;
}
.v6_226 {
  width: 308px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 145px;
  left: 65px;
  font-family: Inter;
  font-weight: Black;
  font-size: 52px;
  opacity: 1;
  text-align: left;
}

.v6_222 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_251 {
  width: 100%;
  height: 717px;
  background: url("../images/v6_251.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 244px;
  left: 56px;
  overflow: hidden;
}
.v6_224 {
  width: 459px;
  height: 717px;
  background: url("../images/v6_224.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_246 {
  width: 370px;
  height: 261px;
  background: url("../images/v6_246.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 456px;
  left: 958px;
  overflow: hidden;
}
.v6_248 {
  width: 370px;
  height: 429px;
  background: url("../images/v6_248.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 958px;
  overflow: hidden;
}
.v6_250 {
  width: 459px;
  height: 717px;
  background: url("../images/v6_250.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 479px;
  overflow: hidden;
}
.v6_244 {
  width: 459px;
  height: 261px;
  background: url("../images/v6_244.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_245 {
  width: 459px;
  height: 429px;
  background: url("../images/v6_245.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 288px;
  left: 0px;
  overflow: hidden;
}
.v6_226 {
  width: 308px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 145px;
  left: 65px;
  font-family: Inter;
  font-weight: Black;
  font-size: 52px;
  opacity: 1;
  text-align: left;
}
