h3 {
  font-family: Inter;
  font-weight: bold;
  margin-top: 2rem;
}

.pricing-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
}

.about {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.pricing-container{
  width: 100%;
}

.pricing-child-container{
  width: 33%;
  padding-right: 20px;
}

.about .div {
}

.main-heading-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;
    padding-top: 1rem;
}

.main-heading-left-column{
  width: 50%;
  height: 250px;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.main-heading-right-column {
  width: 50%;
  height: 250px;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.main-heading-text p {
  font-size: 2rem;
  font-weight: bold;
  font-family: Inter;
}

.main-subheading-text{
  font-size: 1rem;
  font-family: Inter;
}

.about .overlap-group {
  position: absolute;
  width: 488px;
  height: 592px;
  top: 156px;
  left: 0px;
}

.about .rectangle {
  position: absolute;
  width: 352px;
  height: 592px;
  top: 0;
  left: 0;
  background-color: #3a405a;
  border-radius: 10px;
}

.about .img {
  position: absolute;
  width: 459px;
  height: 473px;
  top: 70px;
  left: 29px;
  object-fit: cover;
}

.about .rectangle-2 {
  position: absolute;
  width: 459px;
  height: 473px;
  top: 59px;
  left: 29px;
  background-color: #ff4c792e;
  mix-blend-mode: multiply;
}

.about .text-wrapper {
  position: absolute;
  top: 276px;
  left: 590px;
  font-family: "Inter", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 48px;
  letter-spacing: 3.38px;
  line-height: normal;
}

.about .lorem-ipsum-dolor {
  position: absolute;
  max-width: 355px;
  top: 367px;
  left: 590px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24.6px;
}

.about .group {
  position: absolute;
  width: 367px;
  height: 27px;
  top: 154px;
  left: 1008px;
}

.about .text-wrapper-2 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 22px;
  letter-spacing: 1.43px;
  line-height: normal;
}

.about .text-wrapper-3 {
  position: absolute;
  top: 0;
  left: 120px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 22px;
  letter-spacing: 1.43px;
  line-height: normal;
}

.about .text-wrapper-4 {
  position: absolute;
  top: 0;
  left: 267px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 22px;
  letter-spacing: 1.43px;
  line-height: normal;
}

.about .asset {
  position: absolute;
  width: 303px;
  height: 77px;
  top: 129px;
  left: 71px;
  object-fit: cover;
}


.services-header > p {
  width: 500px;
  font-size: 48px;
  opacity: 1;
  text-align: left;
  position: relative;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Inter", Helvetica;
  color: #000000;
  letter-spacing: 3.38px;
  line-height: normal;
}



.services-container {
  width: 100%;
  max-width: 950px;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0 auto;
}


.services-entry-container {
  width: 950px;
  height: 549px;
  border-radius: 10px;
  background: #f5f5f5;
  display: flex;
  justify-content: space-between;
}

.services-entry {
  display: contents;
  font-family: Inter;
}

.column {
  box-sizing: border-box;
  padding: 10px;
}

.column-c {
  width: 40%;
  background-color: #f5f5f5;
/* Just to differentiate the columns visually */
}

.column-a {
  width: 35%;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.column-c {
  border-radius: 10px;
}

.column-a h2 {
  color: #484C70;
  text-transform: uppercase;
}

.column-a h2::before {
  display: inline-block;
  content: '';
  -webkit-border-radius: 0.375rem;
  border-radius: 0.375rem;
  height: 0.75rem;
  width: 0.75rem;
  margin-right: 0.5rem;
  background-color: #484C70;
}

.column-b {
  width: 25%;
  text-align: center;
/* Centering the image in column B */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.column-b img {
  max-width: 100%;
/* Ensuring the image doesn't overflow its container */
  height: auto;
}

.column-child-container{
max-width: 269px;
margin-top: 45px;
margin-left: 45px;
}

.column-child-container h3 {
color: #000;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 153.523%; /* 21.493px */
}

.column-child-container h4 {
color: #000;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 153.523%; /* 21.493px */
}

.column-image-holder {
display: flex;
flex-direction: column;
gap: 10px;
}

.column-text-box {

margin-top: 45px;
margin-left: 20px;
margin-right: 20px;
background-color: #fff;
height: 440px;
border-radius: 10px;
display: flex;
}

.column-text-wrapper {
margin-left: 20px;
margin-right: 20px;

}

.column-text-wrapper h4 {
color: #000;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 153.523%; /* 24.564px */
}

.column-text-wrapper p {
color: #484C70;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 153.523%;
}

.services-spacer {
margin-top: 125px;
}


.image-row {
display: flex;
justify-content: center;
align-items: center;
gap: 5px;
margin-bottom: 100px;
margin-top:20px;
overflow: visible;
}

.image-row img {
width: 232px;
height: 232px;
object-fit: cover;
overflow: visible;
}

.image-row img:hover{
transform: scale(1.1);
transition: all 0.3s ease-in-out;

}

.service-details-list li {
color: #FF4D79;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 1.43px;
margin-bottom: 20px;
}

.service-details-list li span {
color: #000;
}

.service-details-list ul {
margin-left: 40px;
}

#services-email li{
color: #FFCF9F;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 1.43px;
margin-bottom: 20px;
}

#services-social li{
color: #484C70;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 1.43px;
margin-bottom: 20
}

#services-website li{
color: #9BE8BF;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 1.43px;
margin-bottom: 20
}

#toTopBtn {
position: relative;
z-index: 99; /* Make sure it does not overlap */
border: none; /* Remove borders */
outline: 1px solid #000;
color: black; /* Text color */
cursor: pointer; /* Add a mouse pointer on hover */
padding: 20px; /* Some padding */
font-size: 14px; /* Increase font size */
font-family: Inter;
background-color: #fff;
overflow: visible;
transition: all 0.3s ease-in-out;
}

#toTopBtn::hover {
transform: scale(1.1);
overflow: visible;
}

.button-container {
margin-top: 123px;
margin-bottom: 150px;
display: flex;
align-items: center;
justify-content: center;
}


.services-section-one {
width: 100%;
max-width: 950px;
height: 307px;
background: rgba(255, 255, 255, 1);
opacity: 1;
position: relative;
top: 0px;
left: 0px;
overflow: hidden;
margin: 0 auto;
}
.services-section-two {
  position: relative;
  width: 100vw;          
  left: 50%;             
  right: 50%;
  margin-left: -50vw;    
  margin-right: -50vw;
  background: #ff4875;    
  height: 100%;          
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
  }

  .recent-work-grid-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    /* Adjust this value if you need spacing between images */
    width: 950px;
  }

  .grid-item {
    width: 100%;
    height: auto;
  }

  .grid-item img {
    max-width: 100%;
    cursor: pointer;
    height: auto;
  }
  
  .grid-item img:hover {
    transform: scale(1.1);
    transition: all 0.3s eas;
  }

  .section-two-header-container {
    max-width: 950px;
    width: 100%;
    justify-content: center;
    align-content: center;
    }

  .section-two-header-text {
    font-family: Inter;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: left;
    padding-top: 4rem;
  }

  .section-two-body-text{
    font-family: Inter;
    font-size: 1rem;
    text-align: left;
  }
  

  .section-two-body-text li{
    margin: 10px 0;
  }

  .white-square-background{
    background-color: rgba(255, 255, 255, 0.9);

    padding: 10px;
  }


/* Media query for mobile devices */
@media only screen and (max-width: 768px) {
.image-row {

  flex-direction: column;

}

.services-header > p {
  font-size: 28px;
  max-width: 100%;
}
}