* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
}



.general-text {
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}

.nav-wrapper {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
}

.link-container {
  display: flex;
  gap: 50px;
  position: absolute;
  right: 0;
  top: 54px;
}

.link-container a {
  text-decoration: none;
  font-family: Inter;
  font-size: 22px;
  color: black;
}

.link-container a:hover {
  text-decoration: none;
  font-family: Inter;
  font-size: 22px;
  color: rgba(255, 76, 121, 1);
}

.link-container-wrapper {
  display: flex;
  justify-content: flex-end;
}

.section-header p {
  font-family: Inter;
  font-size: 28px;
  opacity: 1;
  text-align: left;
  position: relative;
  margin: 0 auto;
  color: #000;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 3.38px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.grid-wrapper {
  width: 100%;
  max-width: 950px;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 70px;
}

.project-header {
  width: 308px;
  font-family: Inter;
  font-size: 28px;
  opacity: 1;
  text-align: left;
  position: relative;
  margin: 0 auto;
  color: #000;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 3.38px;
  text-transform: uppercase;
}

.project-subheader {
  margin-top: 20px;
  margin-bottom: 20px;
}

.header-container {
}

.header-logo {
  width: 303px;
  height: 77px;
  top: 29px;
  left: 0px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.icon-holder {
  right: -40px;
}

.v6_181 {
  width: 100%;
  max-width: 950px;
  height: 909px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  /*position: relative;
  */
  top: 29px;
  left: 0px;
  overflow: hidden;
  margin: 0 auto;
}

.about-section-one {
  width: 100%;
  max-width: 950px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  margin: 0 auto;
}

.v6_182 {
  width: 100%;
  height: 644px;
  background: rgba(255, 76, 121, 1);
  opacity: 1;
  position: relative;
  top: 82px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.v6_183 {
  width: 82%;
  height: 523px;
  background: url("/images/home-photo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  overflow: visible;
  margin-left: 6em;
}

.v6_184 {
  width: 392px;
  height: 392px;
  background: rgba(255, 255, 255, 1);
  opacity: 0.9;
  position: absolute;
  top: 63px;
  right: -40px;
  overflow: hidden;
}

.v6_185 {
  width: 280px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 64px;
  right: 40px;
  font-family: Inter;
  font-weight: 900;
  font-size: 34px;
  opacity: 1;
  text-align: left;
  line-height: normal;
  letter-spacing: 3.38px;
  text-transform: uppercase;
  line-height: normal;
  letter-spacing: 3.38px;
  text-transform: uppercase;
}

.v6_207 {
  width: 361px;
  height: 27px;
  opacity: 1;
  position: absolute;
  top: 54px;
  overflow: hidden;
  right: 0px;
}

.v6_199 {
  width: 71px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}

.v6_205 {
  width: 98px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 120px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}

.v6_206 {
  width: 94px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 267px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}

.v6_192 {
  width: 266px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 138px;
  right: 52px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}

.v6_197 {
  width: 116px;
  height: 42px;
  background: url("../images/v6_197.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top:293px;
  right: 202px;
}

.v6_194 {
  width: 76px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 10px;
  left: 20px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}

.v6_195 {
  width: 116px;
  height: 42px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0, 0, 0, 1);
  cursor: pointer;
  overflow: visible;
  transition: all 0.3s ease-in-out;
}

.v6_195:hover {
  transform: scale(1.2);
  overflow: visible;
}

.v6_198 {
  width: 303px;
  height: 77px;
  background: url("../images/v6_198.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 0px;
  overflow: hidden;
}

.v6_216 {
  width: 20px;
  height: 18px;
  background: url("../images/v6_216.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 747px;
  left: 1388px;
  overflow: hidden;
}

.v6_217 {
  width: 20px;
  height: 20px;
  background: url("../images/v6_217.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 720px;
  left: 1388px;
  overflow: hidden;
}

.grid-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  /* Adjust this value if you need spacing between images */
  width: 950px;
}

.grid-item {
  width: 100%;
  height: auto;
}

.grid-item img {
  max-width: 100%;
  cursor: pointer;
  height: auto;
}

.grid-item img:hover {
  transform: scale(1.1);
  transition: all 0.3s eas;
}
/* Media query for mobile devices */
@media only screen and (max-width: 768px) {
  .grid-container {
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      /* Adjust this value if you need spacing between images */
      width: 90%;
  }

  .grid-wrapper {
      height: 100%;
  }
}

footer {
  background-color: black;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-wrapper {
  background-color: black;
}

.footer-content {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 90px;
  font-family: Inter;
}

.footer-content>p {
  margin-top: 25px;
  margin-bottom: 25px;
}

.icon-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
}

.links-row {
  display: inline-flex;
  justify-content: center;
  gap: 25px;
  padding-left: 20px;
}

.links-row>a {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-decoration: underline;
}

.links-row>a:hover {
  color: rgba(255, 76, 121, 1);
}
/* Media query for mobile devices */
@media only screen and (max-width: 768px) {
  .v6_198 {
      width: 303px;
      height: 77px;
      background: url("../images/v6_198.png");
      background-repeat: no-repeat;
      background-position: 20px;
      background-size: 40% 40%;
      opacity: 1;
      position: absolute;
      top: 29px;
      left: 0px;
      overflow: hidden;
  }

  .footer-content {
      width: 321px;
  }
}

.about-section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-paragraph {
  flex: 1;
}

.about-photo {
  flex: 1;
}

.custom-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-logo {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.custom-hamburger {
  display: none;
  background-color: transparent;
  border: none;
  color: rgba(255, 76, 121, 1);
  font-size: 24px;
  cursor: pointer;
}

.custom-menu {
  list-style-type: none;
  margin: 0;
  display: flex;
  gap: 10px;
  border-radius: 20px;
}

.custom-menu li a {
  box-sizing: border-box;
  text-decoration: none;
  font-family: Inter;
  font-size: 22px;
  color: black;
  margin-left: 25px;
}

.custom-menu li a:hover {
  color: rgba(255, 76, 121, 1);
}


@media (max-width: 768px) {
  .custom-hamburger {
      display: block;
  }

  .custom-menu {
      display: none;
      flex-direction: column;
      width: 100%;
  }

  .custom-menu li {
      text-align: center;
  }
}

#topnav-logo {
  width: 228px;
  height: 58px;
}

.custom-navbar {
  margin-top: 20px;
}
/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  .page-wrapper {
      margin: 0 auto;
      width: 95%;
  }

  .v6_181 {
      height: 823px;
  }

  .v6_182 {
      top: 25px !important;
  }

  .v6_183 {
      margin-left: 2.5em !important;
      background-position: -50px -50px;
  }

  .v6_184 {
      width: 271px;
      height: 222px;
      background: rgba(255, 255, 255, 1);
      opacity: 0.9;
      position: absolute;
      top: 337px;
      right: -10px;
      overflow: hidden;
  }

  .v6_185 {
    top: 20px;
      right: -45px;
      font-size: 24px;
  }

  .v6_192 {
      width: 205px;
      color: rgba(0, 0, 0, 1);
      position: absolute;
      top: 61px;
      right: 29px;
      font-family: Inter;
      font-weight: Regular;
      font-size: 16px;
      opacity: 1;
      text-align: left;
  }

  .v6_197 {
      width: 116px;
      height: 42px;
      background: url("../images/v6_197.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 299px;
      right: 117px;
  }
}