

.about {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 143px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: 81px;
}

.about .div {
}

.about .overlap-group {
  width: 48%;
  height: 592px;
}

.about-section {
  width: 100%;
  top: -30px;
  position: relative;
}

.about .rectangle {
  position: relative;
  width: 352px;
  height: 535px;
  top: 0;
  left: 0;
  background-color: #3a405a;
  border-radius: 10px;
}

.about .img {
  position: absolute;
  width: 372px; 
  height: 383px;
  top: 73px;
  left: 29px;
  object-fit: cover;
  border-radius: 10px;
  object-position: left;
}

.about .rectangle-2 {
  position: absolute;
  width: 459px;
  height: 473px;
  top: 59px;
  left: 29px;
  background-color: #ff4c792e;
  mix-blend-mode: multiply;
}

.about .text-wrapper {
 /*position: absolute;
  top: 276px;
  left: 590px; */
  font-family: "Inter", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 48px;
  letter-spacing: 3.38px;
  line-height: normal;
}

.about .lorem-ipsum-dolor {
  /*position: absolute;
  top: 367px;
  left: 590px; */
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24.6px;
}

.about .group {
  position: absolute;
  width: 367px;
  height: 27px;
  top: 154px;
  left: 1008px;
}

.about .text-wrapper-2 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 22px;
  letter-spacing: 1.43px;
  line-height: normal;
}

.about .text-wrapper-3 {
  position: absolute;
  top: 0;
  left: 120px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 22px;
  letter-spacing: 1.43px;
  line-height: normal;
}

.about .text-wrapper-4 {
  position: absolute;
  top: 0;
  left: 267px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 22px;
  letter-spacing: 1.43px;
  line-height: normal;
}

.about .asset {
  position: absolute;
  width: 303px;
  height: 77px;
  top: 129px;
  left: 71px;
  object-fit: cover;
}





.resume-button {
  
    padding: 10px 20px; /* 10px padding top/bottom, 20px padding left/right */
    border: none;
    border-radius: 10px; /* This gives the button rounded corners */
    background-color: rgba(255, 76, 121, 1); /* Button color */
    color: white; /* Text color */
    cursor: pointer;
     font-family: Inter;
     font-size: 12px;
     text-transform: uppercase;
     font-style: normal;
     font-weight: 400;
     line-height: 153.523%;

  }

  .resume-button:hover {
    background-color: rgba(223, 41, 96, 1);
  }

.work-history-header > p {
  width: 100%;
  max-width: 300px;
  font-family: Inter;
  font-size: 28px;
  opacity: 1;
  text-align: left;
  position: relative;
  color: #000;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 3.38px;
  text-transform: uppercase;
}

.work-history-container {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  max-width: 950px;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  left: 0px;
  overflow: hidden;
  margin: 0 auto;
}

.work-history-header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.work-history-header {
  width: 100%;
  max-width: 260px;
}


.work-history-entry-container {
  width: 100%;
  height: 549px;
  border-radius: 10px;
  background: #f5f5f5;
  display: flex;
  justify-content: space-between;
}

#third-wave-entry-container {
  width: 100%;
  height: 420px;
  border-radius: 10px;
  background: #f5f5f5;
  display: flex;
  justify-content: space-between;
}

#third-wave-text-box {
  height: 315px;
}

.work-history-entry {
  display: contents;
  font-family: Inter;
}

.column {
  box-sizing: border-box;
  padding: 10px;
}

.column-c {
  width: 40%;
  background-color: #f5f5f5;
/* Just to differentiate the columns visually */
}

.column-a {
  width: 35%;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.column-c {
  border-radius: 10px;
}

.column-a h2 {
  color: #484C70;
  text-transform: uppercase;
}

.column-a h2::before {
  display: inline-block;
  content: '';
  -webkit-border-radius: 0.375rem;
  border-radius: 0.375rem;
  height: 0.75rem;
  width: 0.75rem;
  margin-right: 0.5rem;
  background-color: #484C70;
}

.column-b {
  width: 25%;
  text-align: center;
/* Centering the image in column B */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.column-b img {
  max-width: 100%;
/* Ensuring the image doesn't overflow its container */
  height: auto;
  border-radius: 10px;
}

.column-child-container{
max-width: 269px;
margin-top: 45px;
margin-left: 45px;
}

.column-child-container h3 {
color: #000;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 153.523%; /* 21.493px */
}

.column-child-container h3 a {
  color: rgba(255, 76, 121, 1);
  }

  .column-child-container h3 a:hover{
    color: rgba(223, 41, 96, 1);
    }

.column-child-container h4 {
color: #000;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 153.523%; /* 21.493px */
}

.column-image-holder {
display: flex;
flex-direction: column;
gap: 10px;
}

.column-text-box {

margin-top: 45px;
margin-left: 20px;
margin-right: 20px;
background-color: #fff;
height: 441px;
border-radius: 10px;
display: flex;
}

.column-text-wrapper {
margin-left: 20px;
margin-right: 20px;

}

.column-text-wrapper h4 {
color: #000;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 153.523%; /* 24.564px */
margin-top: 20px;
}

.column-text-wrapper p {
color: #484C70;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 153.523%;
}

.work-history-spacer {
margin-top: 35px;
}

.section-one-wrapper {
width: 100%;
max-width: 950px;
background: rgba(255, 255, 255, 1);
opacity: 1;
/*position: relative;*/
top: 29px;
left: 0px;
overflow: hidden;
margin: 0 auto;
height: 100%;
}



/* Media query for mobile devices */
@media screen and (max-width: 768px) {
.work-history-entry-container {
  flex-direction: column;
  height: 100%;
  max-height: 1264px;
}

.column-a, .column-b, .column-c {
  width: 335px;
}

.column-c {
  padding-bottom: 22px;
}

.column-text-box {

  height: 502px;
}

.work-history-header > p {
  font-size: 28px;
}

.about {
  flex-direction: column;
  align-items: unset;
  gap: 0px;
  margin-top: 30px;
}

.about .rectangle {
  height: 450px;
}

.about img {
  height: 80% !important;
  width: 80% !important;
  left: 80px !important;
}

.about .img {
  top: 43px;
}
.about-section {
  width: 100%;
}

.about .lorem-ipsum-dolor {
}

.about .overlap-group {
  height: 526px;
}

.work-history-header-container{
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 40px;
  align-items: flex-start;
}

body > div > div.about-section-one > div.section-one-wrapper > div > div.about-section > div {
  font-size: 28px;
}

#third-wave-entry-container {
  width: 100%;
  height: 960px;
  border-radius: 10px;
  background: #f5f5f5;
  display: flex;
  justify-content: space-between;
}

#third-wave-text-box {
  height: 400px;
}

#johns-text-box {
  height: 330px;
}
}